.sol-system-master {
  text-align: center;
}.sun {
  background-size: cover;
  box-shadow: 1px 1px 155px firebrick;
  box-shadow: 1px 1px 120px goldenrod;

  position: absolute;
  --radius: 6rem;
  top: calc(50% - var(--radius));
  left: calc(50% - var(--radius));
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  animation: translateBackground 120s infinite linear;
  background: url("../../planetTextures/sun.png") repeat-x;
  background-size: cover;
  transform: rotate(0deg);
  transition: transform 0.7s linear;
}
@keyframes translateBackground {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -600px;
  }
}
.miniPlanet {
  max-width: 6rem;
}
/* orbits and styles */
.mercuryMini {
 
  border-radius: 50%;
  position: absolute;
  --radius: .7rem;
  top: calc(50% - var(--radius));
  left: calc(50% - var(--radius));
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  z-index: 9;
  background: url("../../planetTextures/mercury.jpg") repeat-x;
  background-size: 100% 100%;
   animation: mercuryOrbit 30s linear infinite, translateBackground 55s infinite linear;
   animation-delay: -10s;
 
}
@keyframes mercuryOrbit {
  from {
    transform: rotate(0deg) translateX(7.2rem) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(7.2rem) rotate(-360deg);
  }
}

.venusMini {
  border-radius: 50%;

 position: absolute;
 --size: .85rem;
  --radius: 1rem;
  top: calc(50% - var(--radius));
  left: calc(50% - var(--radius));
  width: calc(2 * var(--size));
  height: calc(2 * var(--size));
  z-index: 8;
  background: url("../../planetTextures/venus.jpg") repeat-x;
  background-size: 100% 100%;
  animation: venusOrbit 39s linear infinite, translateBackground 65s infinite linear;
  animation-delay: -15s;
}
@keyframes venusOrbit {
  from {
    transform: rotate(0deg) translateX(9.5rem) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(9.5rem) rotate(-360deg);
  }
}
.earthMini {
  border-radius: 50%;
  position: absolute;
  --radius: 1rem;
  top: calc(50% - var(--radius));
  left: calc(50% - var(--radius));
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  background: url("../../planetTextures/earth.jpg") repeat-x;
  background-size: 100% 100%;
  animation: earthOrbit 45s linear infinite, translateBackground 50s infinite linear;
  animation-delay: -15s;
}
@keyframes earthOrbit {
  from {
    transform: rotate(0deg) translateX(13rem) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(13rem) rotate(-360deg);
  }
}
.marsMini {
  --radius: .85rem;
  position: absolute;
  top: calc(50% - var(--radius));
  left: calc(50% - var(--radius));
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  animation: translateBackground 75s infinite linear;
  background: url("../../planetTextures/mars.jpeg") repeat-x;
  background-size: 100% 100%;
  animation: marsOrbit 55s linear infinite, translateBackground 50s infinite linear;
  animation-delay: -35s;
}
@keyframes marsOrbit {
  from {
    transform: rotate(0deg) translateX(17rem) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(17rem) rotate(-360deg);
  }
}
.asteroidBelt {
  --radius: .85rem;
  position: absolute;
  top: calc(50% - var(--radius));
  left: calc(50% - var(--radius));
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  animation: translateBackground 75s infinite linear;
 background-color: brown;
  animation: marsOrbit 55s linear infinite, translateBackground 50s infinite linear;
  animation-delay: -35s;
}
@keyframes asteroidBeltOrbit {
  from {
    transform: rotate(0deg) translateX(20rem) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(20rem) rotate(-360deg);
  }
}
.juipterMini {
  --radius: 3.2rem;
  position: absolute;
  top: calc(50% - var(--radius));
  left: calc(50% - var(--radius));
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  animation: translateBackground 75s infinite linear;
  background: url("../../planetTextures/juipter.jpg") repeat-x;
  background-size: 100% 100%;
  animation: juipterOrbit 75s linear infinite, translateBackground 50s infinite linear;
  animation-delay: -55s;
}
@keyframes juipterOrbit {
  from {
    transform: rotate(0deg) translateX(25rem) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(25rem) rotate(-360deg);
  }
}
.saturnMini {
  --radius: 3.6rem;
  position: absolute;
  top: calc(50% - var(--radius));
  left: calc(50% - var(--radius));
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  animation: translateBackground 75s infinite linear;
  background: url("../../planetTextures/saturnstatic.png");
  background-size: 100% 100%;
  animation: saturnOrbit 85s linear infinite;
  animation-delay: -45s;
}
@keyframes saturnOrbit {
  from {
    transform: rotate(0deg) translateX(31rem) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(31rem) rotate(-360deg);
  }
}

.uranusMini {
  --radius: 1.9rem;
  position: absolute;
  top: calc(50% - var(--radius));
  left: calc(50% - var(--radius));
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  animation: translateBackground 75s infinite linear;
  background: url("../../planetTextures/uranus.jpg") repeat-x;
  background-size: 100% 100%;
  animation: uranusOrbit 95s linear infinite, translateBackground 50s infinite linear;
  animation-delay: -165s;
}

@keyframes uranusOrbit {
  from {
    transform: rotate(0deg) translateX(38.5rem) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(38.5rem) rotate(-360deg);
  }
}
.neptuneMini {
  --radius: 2.3rem;
  position: absolute;
  top: calc(50% - var(--radius));
  left: calc(50% - var(--radius));
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  animation: translateBackground 75s infinite linear;
  background: url("../../planetTextures/neptune.jpg") repeat-x;
  background-size: 100% 100%;
  animation: neptuneOrbit 125s linear infinite, translateBackground 50s infinite linear;
}
@keyframes neptuneOrbit {
  from {
    transform: rotate(0deg) translateX(44rem) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(44rem) rotate(-360deg);
  }
}
/* end of miniplanets */
.planet {
  position: absolute;
  top: 50%;
  left: 50%;
}


