.generatedPlanetView {
  
    height: 100vh; 
    width: 100vw;
}
.generated-planet-container {
    border: 1px solid green;
    height: 100%;
    width: 100%;
}
.generated-planet {
    
    border-radius: 50%;
}
/* begin planets */
/* view box */

.planetView {
    padding: 20px;
      text-align: center;
      background: #191919;
      box-shadow: 0px 0px 15px 2px #7Cbdbd inset;
      border: 2px solid #3acaec;
      border-radius: 5px;
      margin-top: 10rem;
    }
    .planetWrapper {
      text-align:center;
     
       padding-left: 10%;
       padding-top: 10%
    }

    .earthView {
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
    width: 100vw;
    }
    .sidePlanetView {
     text-align: center;
    }
    /* Niburu */ 
    .Nibiru {
width: 400px;
height: 400px;
background: url("../planetTextures/Niburu.jpg") repeat-x;
animation: translateBackground 45s infinite linear;
  background-size: 150% 150%;
  border: 2px solid black;
    }
    .Mercury {
      width: 400px;
height: 400px;
background: url("../planetTextures/mercuryHighRes.jpg") repeat-x;
animation: translateBackground 45s infinite linear;
  background-size: 150% 150%;
  border: 2px solid black;
    }