.generatedPlanetView {
    border: 5px solid yellow;
    height: 100vh; 
    width: 100vw;
}
.generated-planet-container {
    border: 1px solid green;
    height: 100%;
    width: 100%;
}
.generated-planet {
    width: 100px;
    height: 100px; 
    background-color: blue;
    border-radius: 50%;
}