.generatedPlanetView {
  
    height: 100vh; 
    width: 100vw;
}

.generated-planet {
    
    border-radius: 50%;
}
/* begin planets */
/* view box */

.planetView {
    padding: 10px;
      text-align: center;
      background: #191919;
      box-shadow: 0px 0px 15px 2px #7Cbdbd inset;
      border: 2px solid #3acaec;
      border-radius: 5px;
     /* CENTER ME*/ 
     margin-top: 10rem;
      font-size: calc(10px + 1.5vw);
    }
    .planetWrapper {
      text-align:center;
     
       padding-left: 10%;
       padding-top: 10%
    }

    .earthView {
    min-height: 100vh;
    min-width: 100vw;
    height: 100vh;
    width: 100vw;
    }
    .sidePlanetView {
     text-align: center;
    }
    /* Niburu */ 
    .Nibiru {
width: 40em;
height: 40em;
background: url("../planetTextures/Niburu.jpg") repeat-x;
animation: translateBackground 45s infinite linear;
  background-size: 150% 150%;
  border: 2px solid black;
    }
    .Mercury {
      width: 20em;
height: 20em;
background: url("../planetTextures/mercuryHighRes.jpg") repeat-x;
animation: translateBackground 45s infinite linear;
  background-size: 150% 150%;
  border: 2px solid black;
    }
    /* Mercury */

/* venus */
.Venus {
  width:30em;
  height:30em;
  border-radius: 50%;
  animation: translateBackground 88s infinite linear;  
  background:url("../planetTextures/venusHighRes.jpg") repeat-x;
 background-size: cover;

  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: absolute
}

/* end venus */

/* Earth */


.Earth {
    width:45em;
    height:45em;
    border-radius: 50%;
    animation: translateBackground 125s infinite linear;  
    background:url(../planetTextures/earthHighRes.jpg) repeat-x;
   background-size: 100% 100%;
  position: absolute;
    border-radius:50%;
    z-index: 1;
    
}
 .planetClouds{
    background:url('../planetTextures/clouds.png') repeat-x;
    background-size: 150% 100%;
    border-radius:50%;
    width: 100%;
    height: 100%;
position: absolute;
  top: 0;
    animation: translateBackground 55s infinite linear;
    opacity: 0.6;
    z-index: 2
  }

/* End earth */
/* mars */

.Mars {
  width:35em;
  height:35em;
  border-radius: 50%;
  animation: translateBackground 125s infinite linear;  
  background:url("../planetTextures/marsHighRes.jpg") repeat-x;
 background-size: 100% 100%;
position: absolute;
  border-radius:50%;
  z-index: 1;
  margin-top: 1rem;
}

/* end mars */
/* juipter start */
.Juipter {
  width:65em;
  height:65em;
  border-radius: 50%;
  animation: translateBackground 125s infinite linear;  
  background:url("../planetTextures/juipterHighRes.jpg") repeat-x;
 background-size: 100% 100%;
position: absolute;
  border-radius:50%;
  z-index: 1;
  margin-top: -5rem;
}

/* end juipter */
/* saturn */ 
.Saturn {
  width:50em;
  height:50em;
  border-radius: 50%;
  animation: translateBackground 125s infinite linear;  
  background:url("../planetTextures/saturnHighRes.jpg") repeat-x;
 background-size: 100% 100%;
position: absolute;
  border-radius:50%;
  z-index: 1;
  margin-top: -5rem;
}
.rings {
  position: absolute;
background-image: url('../planetTextures/saturn.jpg');
z-index: 2;
background-size: 100% 100%;
border-radius: 50%;
width: 72em; 
height: .8em;
opacity: .8;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
}
/* end saturn */
/* Uranus */
.Uranus {
  width:45em;
  height:45em;
  border-radius: 50%;
  animation: translateBackground 125s infinite linear;  
  background:url("../planetTextures/uranusHighRes.png") repeat-x;
 background-size: 100% 100%;
position: absolute;
  border-radius:50%;
  z-index: 1;
}

/* end uranurs */ 
/* neptune */
.Neptune {
  width: 41em;
  height:41em;
  border-radius: 50%;
  animation: translateBackground 125s infinite linear;  
  background:url("../planetTextures/neptuneHighRes.jpg") repeat-x;
 background-size: 100% 100%;
position: absolute;
  border-radius:50%;
  margin-top: 3rem;
  z-index: 1;
}
/* end neptune */