.navMaster {
    position: absolute;
    right: 0;
   top: 0;
    left: 0;
    padding: .15rem;
    z-index: 97;
    border-radius: 2%;
    padding-left: 25%;
    padding-right: 10vw;
    background: #191919;
  box-shadow: 0px 0px 15px 2px #7Cbdbd inset;
    border-radius: 25%;
}
.hidden {
    display: none;
}

.currentLocation {
    color: white;
    font-weight: bolder;
    margin-top: .5rem;
    font-size: 1.4rem;
}
.navIcon {
   width: 100px;
    height: 50px;
    background-size: contain;
    border-radius: 25%;
    text-align: center;
    color: white;
    text-decoration: none;
}
.navButton {
    color: white;
    text-decoration: none;
}
.toggleNav {
    bottom: 0;
    position: absolute
}
.navIcon:hover {
    scale: 1.1;
    cursor: pointer;
}
.navTitle {
    color: red;
    font-size: 1.5rem;
}