/* Earth */
.earthView {
min-height: 100vh;
min-width: 100vw;
}
.sidePlanetView {
 background-color: green;
}
.planetWrapper {
    height: 100vh;
}
.earthBall {
    width:1000px;
    height:1000px;
    border-radius: 50%;
    animation: translateBackground 40s infinite linear;  
    background:url("../../../planetTextures/earth.jpg") repeat-x;
   background-size: 100% 100%;
   margin-bottom: 5rem;
    border-radius:50%;
    z-index: 1;
    box-shadow: -200px black;
}
 .clouds{
    background:url(../../../planetTextures/clouds.png) repeat-x;
    background-size: 100% 100%;
    border-radius:50%;
    width: 100%; 
    height: 100%;
    animation: translateBackground 20s infinite linear;
    opacity: 0.4;
    z-index: 2
  }
/* End earth */