/* view box */

.planetView {
padding: 20px;
  text-align: center;
  background: #191919;
  box-shadow: 0px 0px 15px 2px #7Cbdbd inset;
  border: 2px solid #3acaec;
  border-radius: 5px;
  margin-top: 10rem;
}
/* Earth */
.earthView {
min-height: 100vh;
min-width: 100vw;
}
.sidePlanetView {
 text-align: center;
}
.planetWrapper {
   margin-top: -3rem;
}
.earthBall {
    width:1000px;
    height:1000px;
    border-radius: 50%;
    animation: translateBackground 125s infinite linear;  
    background:url("../../../planetTextures/earthHighRes.jpg") repeat-x;
   background-size: 100% 90%;
  position: absolute;
    border-radius:50%;
    z-index: 1;
    box-shadow: -200px black;
}
 .planetClouds{
    background:url(../../../planetTextures/clouds.png) repeat-x;
    background-size: 100% 90%;
    border-radius:50%;
    width: 1000px; 
    height: 1000px;
position: absolute;
  top: 0;
    animation: translateBackground 160s infinite linear;
    opacity: 0.4;
    z-index: 2
  }
/* End earth */