/* Earth */
.earthView {
min-height: 100vh;
min-width: 100vw;
}
.planetWrapper {
    height: 100vh;
}
.earthBall {
    width: 85%;
    height:85%;
    background-image: url('../../../planetTextures/earth.jpg');
    background-size: 100% 100%;
    border-radius: 50%;
    margin-top: 2.5rem;
   
}
/* End earth */